html {
    box-sizing: border-box;
    font-size: 100%;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.65;
    background: rgb(174, 203, 223);
}

.page {
    max-width: 600px;
    margin: auto;
    border:1px solid black;
    padding:1.5rem;
}

.page h1 {
    margin:0 0 1rem 0;
    padding:0;
    font-size: 1.75rem;
}

.output{
    
    max-width: 500px;
    padding: 0.5rem 0;
}
p {
    margin:0;
    padding:0;
}

label {
    margin-right: 1rem;
}

input[type="text"] {
    border:1px solid black;
    padding:0.5rem;
}

input[type="submit"] {
    padding:0.5rem;
    border:0;
    background: black;
    color: white;
    margin:1rem 0;
}